<h1 class="title">All Links</h1>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Given url</th>
        <th>Short Link</th>
        <th>Clicks</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "links/all_links", :collection => @links, :as => :link %>
    </tbody>
  </table>
</div>


<div class="digg_pagination">
  <%= will_paginate @links %>
</div>

<p class="trending_link"><%= link_to 'View Trending Links', root_path %></p>