<p class="short_url">Your Shortened URL: <%= link_to session[:link_slug], session[:link_slug], target: "_blank", style: "color:#0099cc;" %></p>
<p><%= link_to "more details", link_path(session[:slug]), style: "color:#660066;"%></p>
