/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap.min
 *= require_tree .
 */

#notice {
  margin-top: 25px;
  text-align: center;
  color: #ff0000;
  position: sticky;
  min-height: 50px;
}

.errors {
  text-align: center;
  color: #ff0000;
}

.result {
  text-align: center;
  color: #ff0000;
  min-height: 54px;
}

p.short_url {
  text-align: center;
  color: #2db300;
  font-size: 20px;
  margin: 0px;
}

h1.title {
  text-align: center;
  margin-bottom: 30px;
}

footer.finalize {
  text-align: left;
  font-size: 12px;
  margin: 30px;
}